<mat-toolbar>
  {{'assignment' | translate}}
  <button mat-button routerLink="login">
    <mat-icon>login</mat-icon>
    {{'login' | translate}}
  </button>
  <button mat-button routerLink="upload">
    <mat-icon>assignment</mat-icon>
    {{'files' | translate}}
  </button>

  <div>
    <select (change)="selectLanguage($event)">
      <option value="en-US">{{"language.english" | translate}}</option>
      <option value="de-DE">{{"language.german" | translate}}</option>
    </select>
  </div>
</mat-toolbar>
