<div style="display: block">
      <table *ngIf="assignmentList" style="padding-top: 1%; padding-left: 1%">
        <tr *ngFor="let i of rowIndexArray">
          <td>
            <div *ngIf="i!=0">
              <a [href]="assignmentList[3*i-1].fileUrl"
                 style="text-decoration: none">{{'assignment' | translate}} {{3 * i - 1 + 1}}</a>
            </div>
          </td>
          <td *ngIf="assignmentList[3*i]">
            <div>
              <a [href]="assignmentList[3*i].fileUrl"
                 style="text-decoration: none">{{'assignment' | translate}} {{3 * i + 1}}</a>
            </div>
          </td>
          <td *ngIf="assignmentList[3*i+1]">
            <div>
              <a [href]="assignmentList[3*i+1].fileUrl"
                 style="text-decoration: none">{{'assignment' | translate}} {{3 * i + 1 + 1}}</a>
            </div>
          </td>
        </tr>
      </table>
</div>
