<h1 style="padding-left: 5%; padding-top: 2%">{{'courses' | translate}}</h1>


<a routerLink="course" style="text-decoration: none">
  <div style="padding-top: 2%; padding-left: 4%">
    <mat-card style="width: 60%; align-items: center">
      <mat-card-title style="color: dodgerblue"> {{'value1' | translate}}</mat-card-title>
    </mat-card>
  </div>
  <div style="padding-top: 2%; padding-left: 4%">
    <mat-card style="width: 60%; align-items: center">
      <mat-card-title style="color: dodgerblue"> {{'value2' | translate}}</mat-card-title>
    </mat-card>
  </div>
  <div style="padding-top: 2%; padding-left: 4%">
    <mat-card style="width: 60%; align-items: center">
      <mat-card-title style="color: dodgerblue"> {{'value3' | translate}}</mat-card-title>
    </mat-card>
  </div>
  <div style="padding-top: 2%; padding-left: 4%">
    <mat-card style="width: 60%; align-items: center">
      <mat-card-title style="color: dodgerblue"> {{'value4' | translate}}</mat-card-title>
    </mat-card>
  </div>
  <div style="padding-top: 2%; padding-left: 4%">
    <mat-card style="width: 60%; align-items: center">
      <mat-card-title style="color: dodgerblue"> {{'value5' | translate}}</mat-card-title>
    </mat-card>
  </div>
</a>
