<div class="form-container">

  <h1>{{'login' | translate}}</h1>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input matInput placeholder="{{'Email address' | translate}}" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{'Password' | translate}}" formControlName="password" type="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'student' | translate}}</mat-label>
      <mat-select>
        <mat-option *ngFor="let person of persons" [value]="person.value" [(ngModel)]="user">
          {{ person.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="center">
      <button mat-raised-button color="accent" type="submit" (click)="showMessageSoon()">{{'login' | translate}}</button>
    </div>
  </form>
    <p *ngIf="showMyMessage && user !== null" style="color: green">{{user}} {{'login successful' | translate}}</p>
  </div>
