/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container{
  display: block;
  max-width: 300px;
  margin: auto;

  background: white;
  padding: 48px;
  border-radius: 16px;
}

.form-container mat-form-field{
  width: 100%;
}
