<div align="center" style="padding-top: 10%;">
  <div class="card" style="width:25rem; align-items: center">
    <div class="card-body" style="align-items: center">
      <h2 style=" padding-top: 10%; align-items: center">{{'submission' | translate}}</h2>
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)" style="align-items: center">
        <div class="form-group">
          <input type="file" accept="application/pdf" class="form-control" #fileUploader formControlName="fileUrl"
                 (change)="showPreview($event)">
          <div class="text-danger"
               *ngIf="isSubmitted && formControls.fileUrl.errors?.required">{{'this field is required' | translate}}
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="caption" placeholder="Description">
          <div class="text-danger"
               *ngIf="isSubmitted && formControls.caption.errors?.required">{{'this field is required' | translate}}
          </div>
        </div>
        <div class="form-group">
          <select formControlName="category" class="form-control">
            <option value="Assignments">{{'homework' | translate}}</option>
          </select>
        </div>
        <div align="center">
          <mat-form-field>
            <input matInput [matDatepicker]="datepicker" placeholder="Submission Date">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success btn-block float-right"
                    (click)="showMessageSoon()">{{'upload' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div align="center">
  <h5 *ngIf="showMyMessage" style="color: green">{{'the file has been successfully uploaded' | translate}}</h5>
</div>

